body {
    background-color: green;
}
.contenedor {
  display:flex;
}
.card {
    display: flex;
    margin-top: 50px;
    height: 100px;
    width: 70px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
  }
  
.icono-arriba {
    text-align: left;
    font-size: 15px;
  }
  
  .numero {
    margin:auto;
    font-size: 15px;
  }
  
  .icono-abajo {
    text-align: right;
    font-size: 15px;
    transform: rotate(180deg);
    float: right;
  }
  